body {
    margin: 0;
    background-color: rgb(209, 201, 201);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

h1 {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.big-container {
    display: flex;
    flex-direction: column; 
    width: 400px;
    height: 635px;
    margin: 0 auto 62px auto;
    background-color: rgba(58,72,74,255);
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgb(70, 70, 70);
}

.screen {
    background-color: rgba(47,200,180,255);
    border-radius: 10px;
    padding: 16px;
    margin: 64px 24px 12px 24px;
    font-size: 40px;
    height: 56px;
    overflow-y: hidden;
}

.buttons {
    background-color: rgba(58,72,74,255);
    padding: 24px;
    border-radius: 20px;
}

.other-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.number,
.operator,
.clear,
.delete,
.equal-sign {
    background-color: rgba(244,244,244,255);
    color: rgba(150,150,150,255);
    opacity: 0.95;
    border-radius: 20px;
    text-align: center;
    margin: 8px;
    font-weight: bolder;
    font-size: 40px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-buttons {
    display: flex;
    justify-content: center;
}

.delete,
.clear {
    width: 50%;
    background-color: rgba(255,227,88,255);
    color: rgb(53, 53, 53);
}

.operator,
.equal-sign {
    background-color: red;
    opacity: 0.8;
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 8px;
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', arial;
}

.clickable {
    box-shadow: 5px 5px 10px rgb(70, 70, 70);
}

.clickable:hover {
    transform: scale(1.1,1.1);
}