body {
    margin: 0;
    background-color: rgb(209, 201, 201);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
}

h1 {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.big-container {
    display: flex;
    flex-direction: column; 
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.screen-container {
    background-color: rgba(0, 0, 0, 0.781);
    padding: 24px;
    border-radius: 20px 20px 0 0;
}

.screen {
    background-color: rgb(190, 187, 187);
    border-radius: 10px;
    padding: 16px;
    font-size: 40px;
    height: 48px;
    text-overflow: clip;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(37, 79, 156);
    padding: 24px;
    border-radius: 0 0 20px 20px;
    margin-bottom: 92px;
}

.number,
.operator,
.clear,
.equal-sign {
    background-color: rgb(109, 170, 221);;
    padding: 24px 8px 8px 8px;
    border-radius: 20%;
    text-align: center;
    margin: 8px;
    font-weight: bolder;
    font-size: 32px;
    height: 50px;
}

.number {
    background-color: rgb(17, 26, 141);
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 8px;
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', arial;
}